{% extends "base.html" %}
{% block title %}Про нас!{% endblock title %}
{% block content %}
<p><h1 align="center">Про нас!</h1> </p>
<pre><h1>Мы сайт под названием Авторы книг</h1>
Наша главная цель - сделать так, что бы начинающие авторы могли бесплатно попробовать себя!
Наша другая цель - сделать сайт в котором можно читать бесплатно!
Что бы взаимодействовать со сайтом, нужно желательно <a href="/register/">зарегестрироваться</a>
Если у вас есть аккаунт, то нужно <a href="/login/">Войти</a>
</pre>


{% endblock content %}